StripePayment__SecretKey=
StripePayment__PublishableKey=
StripePayment__WebhookSecret=
StripePayment__UseSimulatedCheckout=false
StripePayment__SimulatedCheckoutBaseUrl=http://localhost:4200/payment/checkout-simulated
StripePayment__DefaultSuccessUrl=http://localhost:4200/payment/success?session_id={CHECKOUT_SESSION_ID}
StripePayment__DefaultCancelUrl=http://localhost:4200/payment/cancel